body {
  background-image: url(Images/OXMRO1s-plain-desktop-backgrounds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  text-align: center;
  color: red;
  font-size: 3em;
}
#heading {
  width: 100%;
  height: 5em;
  background-color: white;
  padding-top: 0px;
}
div#navbar {
  background-color: #219ebc;
  text-align: center;
  height: 3em;
}
#navlist {
  display: inline-flex;
  list-style: none;
  gap: 5em;
  align-items: center;
}
button{

    float: right;
    width: 10%;
    margin-right: 4px;
    overflow: auto;
    position: absolute;
    top: 40px;
    right: 20px;
}